- provide(:title, 'All users')

%h1.all All users

%img.logo-image{:alt => 'Sunzi Bistro logo', :src => '/assets/logo.jpg'}/

%ul.users-index
  = will_paginate
  = render @users
  = will_paginate

= link_to 'Go Back!', root_path, class: 'btn btn-primary path-edit-user'
