- if @user.errors.any?
  .users#error_explanation
    .alert.alert-danger
      The form contains #{pluralize(@user.errors.count, "error")}.
    %ul.users
      - @user.errors.full_messages.each do |msg|
        %li.users= msg