@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input.dashboard,
textarea.dashboard,
select.dashboard,
.uneditable-input {
  border: 1px solid #bbb;
  width: 400px;
  margin-left: 450px;
  margin-bottom: 15px;
  @include box_sizing;
}

input.dashboard {
  height: auto !important;
}

.dashboard.btn.btn-primary {
  padding-top: 10px;
  font-size: 15px;
  font-family: "Lato", "Arial", sans-serif;
  margin-left: 450px;
}

.dashboard-label {
  margin-left: 450px;
}

.dashboard-image {
  margin-left: 450px;
  margin-bottom: 20px;
}

.btn.btn-primary.path-new {
  margin-left: 580px;
  margin-top: 10px;
  font-size: 15px;
  font-family: "Lato", "Arial", sans-serif;
  margin-right: 20px;
  color: white;
  background-color: chocolate;
}

.btn.btn-primary.path-new-dashboard {
  margin-left: 560px;
  font-size: 15px;
  font-family: "Lato", "Arial", sans-serif;
  margin-right: 20px;
  color: white;
  margin-top: 20px;
  background-color: chocolate;
}

.btn.btn-primary.path-show {
  margin-left: 600px;
  font-size: 15px;
  font-family: "Lato", "Arial", sans-serif;
  color: white;
  background-color: chocolate;
  margin-top: 20px;
}

.btn.btn-primary.path-edit {
  margin-left: 530px;
  font-size: 15px;
  font-family: "Lato", "Arial", sans-serif;
  color: white;
  background-color: chocolate;
  margin-bottom: 0px;
  margin-top: 10px;
}

.btn {
  padding-top: 10px;
}

.btn.btn-primary {
  margin-left: 5px;
  color: white;
  background-color: chocolate;
  border-radius: 60px;
  border: chocolate !important;
  font-size: 15px;
  font-family: "Lato", "Arial", sans-serif;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.btn-primary:hover {
  background-color: rgba(210, 105, 30, 0.884) !important;
  border: chocolate !important;
}

table.dashboard {
  margin-top: 30px;
  margin-left: 200px;
  border-spacing: 10px;
}

thead.dashboard {
  padding-left: 10px;
}

td.dashboard {
  padding-left: 20px;
}

p.dashboard {
  font-size: 20px;
  padding-left: 30px;
  color: chocolate;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: bold;
  white-space: nowrap;
  text-transform: capitalize;
}

p.dashboard.title {
  margin-top: -30px;
}

.logo-dashboard {
  height: 80px;
  width: auto;
  float: left;
  margin-top: -40px;
  margin-left: 80px;
  border-radius: 60%;
}

.logo-new {
  height: 80px;
  width: auto;
  margin-top: -10px;
  margin-left: 80px;
  border-radius: 60%;
}

.logo-show {
  height: 80px;
  width: auto;
  margin-top: 40px;
  margin-left: 140px;
  border-radius: 60%;
}

.products#error_explanation {
  margin-top: -120px;
  ul.products {
    color: chocolate;
    font-size: 18px;
    font-family: "Lato", "Arial", sans-serif;
  }
}

.products.field_with_errors {
  @extend .has-error;
  .dashboard.form-control {
    color: $state-danger-text;
  }
}

h1.dashboard {
  padding-top: 30px;
  font-size: 40px;
  margin-left: 500px;
  margin-bottom: -30px;
  color: chocolate;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: bold;
  align-items: left;
  white-space: nowrap;
  text-transform: capitalize;
}
