h1.reset {
  padding-top: 100px;
  font-size: 40px;
  margin-left: 450px;
  margin-bottom: 40px;
  margin-top: 20px;
  color: chocolate;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: bold;
  align-items: left;
  white-space: nowrap;
  text-transform: capitalize;
}

h1.forgot {
  padding-top: 100px;
  font-size: 40px;
  margin-left: 450px;
  margin-bottom: 40px;
  margin-top: 20px;
  color: chocolate;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: bold;
  align-items: left;
  white-space: nowrap;
  text-transform: capitalize;
}

.logo-image-password-reset {
  height: 80px;
  width: auto;
  float: left;
  margin-top: -120px;
  margin-left: 90px;
  border-radius: 60%;
}

.alert-danger {
  margin-top: 10px;
}

.alert-info {
  margin-top: -100px;
}
