%h1.dashboard Edit Product

%img.logo-new{:alt => 'Sunzi Bistro logo', :src => '/assets/logo.jpg'}/

= render 'form', product: @product

= link_to 'Back to Dashboard', dashboard_path, class: 'path-new'
%br
= link_to 'Show Product', @product, class: 'path-show'
