%h1.dashboard New product 

%img.logo-new{:alt => 'Sunzi Bistro logo', :src => '/assets/logo.jpg'}/

= render('form', product: @product)

= link_to 'Back to Dashboard', dashboard_path, class: 'path-new'
